<nav>
<a href="/">Homepage</a>

<% if (user) { %>

<a href="/expenses">Expenses</a>
<a href="/categories">Categories</a>
<a href="/budgets">Budgets</a>

<a href="/auth/sign-out">Logout</a>

<% } else { %>

<a href="/auth/sign-up">Sign Up</a>
<a href="/auth/sign-in">Login</a>

<% } %>
</nav>