<nav>
    
    <a href="/">Homepage</a>
    <% if (user){ %>
    <a href="/auth/sign-out">Logout</a>
    <a href="Categories/new">New Category</a>
    <a href="/expenses/new">Add Expense</a>
    <a href="/budgets/new">Add Budget</a>

    <% } else{ %>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Login</a>

    <% } %>
    
</nav>
