<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Categories</title>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

<%- include("../partials/navbar.ejs") %>

<div class="container">

<h1>My Categories</h1>

<a class="button" href="/categories/new">Add Category</a>

<% categories.forEach(category=>{ %>

<div class="card">

<p><strong>Name:</strong> <%= category.name %></p>

<a class="button" href="/categories/<%= category._id %>">
View Category
</a>

</div>

<% }) %>

</div>

</body>
</html>