<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Budget Details</title>
</head>
<body>

<h1>Budget Details</h1>

<p><strong>Amount:</strong> <%= budget.amount %> BD</p>
<p><strong>Month:</strong> <%= budget.month %></p>
<p><strong>Category:</strong> <%= budget.category.name %></p>

<a href="/budgets/<%= budget._id %>/edit">Edit Budget</a>
<br><br>
<a href="/budgets">Back</a>

</body>
</html>